html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  align-items: center; /* Centers vertically */
  justify-content: center; /* Centers horizontally */
  min-height: 100%;
  min-width: 100%;
}

.main-div {
  border: 5px solid yellow;
  position: relative;
  border-radius: 30px;
  width: 30rem; /* Fixed width */
  height: 45rem; /* Fixed height */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  display: flex; /* Enables flexbox for child alignment */
  justify-content: center; /* Center child horizontally */
  align-items: center; /* Center child vertically */
  overflow: hidden; /* Hides any overflow from the main div */
}

.child {
  width: 90%; /* Takes full width of the parent padding adjusted */
  height: 90%; /* Takes full height of the parent padding adjusted */
  overflow: auto; /* Adds scrollbars if content overflows */
  word-wrap: break-word; /* Ensures words do not overflow their container */
}

.food-image {
  width: 70%;
  height: 20%;
  display: block;
  margin: 0 auto;
}

.main-title {
  font-size: 35px;
}

.prep-title {
  font-size: 25px;
  color: rgb(255, 247, 252);
  padding-top: 25px;
  padding-left: 40px;
}

.prep-list {
  list-style: none; /* Remove default bullets */
  padding-left: 60px; /* Your desired padding for the entire list */
}

.prep-list li {
  position: relative;
  padding-left: 25px;
}

.prep-list li::before {
  content: "•"; /* Custom bullet */
  color: rgb(255, 247, 252); /* Light pink color */
  position: absolute;
  left: -20px;
}

.ingredients-list {
  list-style: none; /* Remove default bullets */
  padding-left: 1px; /* Your desired padding for the entire list */
}

.ingredients-list li {
  position: relative;
  padding-left: 20px;
}

.ingredients-list li::before {
  content: "•"; /* Custom bullet */
  color: rgb(255, 247, 252); /* Light pink color */
  position: absolute;
  left: 0;
}


.bold-bullet {
  font-weight: 900;
}

.instructions-title {
  font-size: 30px;
  padding-top: 20px;
  color: rgb(255, 247, 252); 
}

.ingredients-title {
  font-size: 30px;
  padding-top: 20px;
  color: rgb(255, 247, 252); 
}



.nutrition-list {
  list-style-type: none;
  
}


.instruction-bullet {
  padding-right: 20px;
}



.nutrition-div {
  border-bottom: 3px solid grey;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50%;
  word-wrap: break-word; /* Ensures words do not overflow their container */
}

.nutrition-list-title {
  flex: 1;
  text-align: left;
}

.nutrition-list-value {
  flex: 1;
  text-align: left;
  color: rgb(255, 247, 252); 
  font-weight: bold;
}
