html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  align-items: center; /* Centers vertically */
  justify-content: center; /* Centers horizontally */
  min-height: 100%;
  min-width: 100%;
  border: 5px solid yellow;
}

.main-div {
  border: 5px solid yellow;
  position: relative;
  border-radius: 30px;
  width: 30rem; /* Fixed width */
  height: 45rem; /* Fixed height */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  display: flex; /* Enables flexbox for child alignment */
  justify-content: center; /* Center child horizontally */
  align-items: center; /* Center child vertically */
  overflow: hidden; /* Hides any overflow from the main div */
}

.child {
  width: 90%; /* Takes full width of the parent padding adjusted */
  height: 90%; /* Takes full height of the parent padding adjusted */
  overflow: auto; /* Adds scrollbars if content overflows */
  word-wrap: break-word; /* Ensures words do not overflow their container */
}

.food-image {
  width: 70%;
  height: 20%;
  display: block;
  margin: 0 auto;
}

.main-title {
  font-size: 35px;
}

.prep-title {
  font-size: 25px;
  padding-top: 25px;
  padding-left: 40px;
}

.prep-list {
  padding-left: 60px;
}

.prep-bullet {
  padding-left: 25px;
}

.bold-bullet {
  font-weight: 900;
}

.instructions-title {
  font-size: 30px;
  padding-top: 20px;
}

.instruction-bullet {
  padding-right: 20px;
}

.nutrition-list {
  list-style-type: none;
}

.nutrition-div {
  border: 5px solid yellow;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50%;
  word-wrap: break-word; /* Ensures words do not overflow their container */
}

.nutrition-list-title {
  border: 5px solid yellow;
  flex : 1;
  text-align: left;

}

.nutrition-list-value {
  border: 5px solid yellow;
  flex : 1;
  text-align: left;

}
